*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.prc
*.run.xml
*.synctex.gz
*.toc
*.swp
*-blx.bib
*.synctex
*.dvi
*.pdf
*.coverage
*.DS_Store
preview-*.png
*.acn
*.acr
*.alg
*.glg
*.gls
*.glsdefs
*.ist
*.lol
*.tdo
*.aux
!images/*
!images/graphjet/*
